/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
.container{
    font-weight: 600;
    width: 80vw;
    max-width: 80vw;
    padding: 0;
}
body{
	// background-image: url("https://img.freepik.com/free-photo/galaxy-night-panorama_23-2148895327.jpg?w=1060&t=st=1659930198~exp=1659930798~hmac=184909fb22f9b18b9e459fea871c13f5b259fdab61e29c0c6a17e93fbf5b5744");
	background-repeat: no-repeat;
	background-size: cover;
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://img.freepik.com/free-photo/galaxy-night-panorama_23-2148895327.jpg?w=1060&t=st=1659930198~exp=1659930798~hmac=184909fb22f9b18b9e459fea871c13f5b259fdab61e29c0c6a17e93fbf5b5744') no-repeat 0% 10%/ cover;
	height: 100vh;
	font-weight: bold;
}