// @mixin login992{
//     @media(min-width:992px){
//         @content;
//     }
// }
@mixin lg992{
    @media (max-width:992px){
        @content;
    }
}
@mixin pad768{
    @media(max-width:768px){
        @content;
    }
}
@mixin mobile576{
    @media(max-width:576px){
        @content;
    }
}




@include lg992(){
    // #login{
    //     display: none;
    // }
    .building-name{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .bannerContainer-btn{
        width: 100%;
    }
}

@include pad768(){
    .btn-group{
        justify-content: start;
        .btn-text-box{
            width: 14%;
        }
    }
    .building-name{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .bannerContainer-btn{
        width: 100%;
    }

}

@include mobile576(){
    .dropdown-btn{
        margin-top: 0.5rem;
    }
    .btn-group{
        .btn-text-box{
            width: 20%;
            font-size: 14px;
            margin-bottom: 0.75rem;
        }
    }
    .btn-img-box{
        width: 60%;
    }
}